node_modules
.next
out
build

# entorno (nunca commitear credenciales)
.env
.env*.local

# artefactos
next-env.d.ts
tsconfig.tsbuildinfo
*.pem
npm-debug.log*
.DS_Store
.vercel

# base local de desarrollo
local.db
local.db-*
